.container-calendar-primary {
    padding: 3rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.link-calendar a {
    margin: 0 1rem;
}

.boton-calendario {
    background-color: rgb(47, 80, 38);
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.boton-calendario:hover {
    background-color: rgba(47, 80, 38, 0.801);
}