.dresscode-title {
  font-size: var(--title-primary);
  padding: 2rem 0;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--color-primario);
}

.dresscode-subinfo h2{
  color: var(--color-primario);
}

.dresscode-text {
  font-size: 2rem;
  max-width: 850px;
  margin: 0 auto;
  line-height: 1.7;
}

.dresscode-info {
  display: flex;
  justify-content: space-evenly;
}

.dresscode-img-info {
  display: flex;
  align-items: center;
}

.dresscode-subinfo-info p{
 font-family: var(--fuente-secundaria);
}