.dresscode-container{
  background-color: var(--color-primario);
  padding: 7rem 1rem;
}

.dresscode-title {
  font-size: 2.3rem;
  padding: 2rem 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--color-secundario);
  width: 60%;
  text-align: start;
}

.dresscode-text {
  font-size: var(--title-secondary);
  max-width: 850px;
  margin: 0 auto;
  color: var(--color-secundario);
  font-family: var(--fuente-decorativa);
  line-height: 1.7;
}

.dresscode-info {
  display: flex;
  justify-content: space-evenly;
}

.dresscode-subinfo-text h3{
  font-size: var(--subtitle);
  color: var(--color-secundario);
  padding: 7px;
}

.dresscode-img-info {
  display: flex;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(100%) contrast(100%);
  align-items: center;
}

.dresscode-subinfo-info p {
  padding: 5px;
  color: var(--color-secundario);
  font-size: 1.5rem;
  font-family: var(--fuente-secundaria);
}

.flor-dresscode {
  position: absolute;
  filter: brightness(0) invert(1);
}

.flor-dresscode img {
  width: 220px;
}

.flor-dresscode-top {
  top: 0%;
  right: 0%;
  transform: rotate(365deg) scaleX(-1);
}