.dresscode-title {
  font-size: var(--title-primary);
  padding: 2rem 0;
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--color-secundario);
  width: 50%;
  text-align: start;
}

.dresscode-subinfo h2 {
  color: var(--color-primario);
}

.dresscode-text {
  font-size: 2rem;
  max-width: 850px;
  margin: 0 auto;
  line-height: 1.7;
}

.dresscode-info {
  display: flex;
  justify-content: space-evenly;
}

.dresscode-img-info {
  display: flex;
  align-items: center;
}

.dresscode-subinfo-info p {
  font-family: var(--fuente-secundaria);
}

.flor-dresscode {
  position: absolute;
  filter: brightness(0) invert(1);
}

.flor-dresscode img {
  width: 220px;
}

.flor-dresscode-top {
  top: 0%;
  right: 0%;
  transform: rotate(365deg) scaleX(-1);
}