@import url('./variables.css');

.information-container {
  background-color: var(--color-secundario);
  /* fondo verde oscuro */
  padding: 5rem 1rem;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.information-subcontainer-title {
  padding: 0 2rem 2rem 2rem;
  font-size: var(--title-primary);
  color: var(--color-primario);
}

.information-subcontainer-title h2 {
  padding-bottom: 1rem;
}

/* .dresscode-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dresscode-subinfo {
  width: 50%;
  height: 100%;
}

.dresscode-subinfo  h2{
  padding: 1rem;
} */

/* .dresscode-img-info {
  display: flex;
  justify-content: space-evenly;
}

.dresscode-subinfo-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flor-information {
  position: absolute;
  filter: brightness(0) invert(1);
}

.flor-information img{
  width: 170px;
}

.flor-information-down {
  bottom: -2%;
  right: 1%;
  transform: rotate(95deg) scaleX(-1);
} */