@import url('./variables.css');

.itinerary-container {
  background-color: var(--color-primario);
  padding: 5rem 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.title-primary-itinerary {
  color: var(--color-secundario);
  /* font-size: var(--title-primary); */
  font-size: 3rem;
  padding-bottom: 2rem;
}

.itinerary-list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.itinerary-item {
  border-left: 3px solid var(--color-secundario);
  padding-left: 2rem;
  position: relative;
}

.container-item {
  height: 70px;
}

.time {
  font-size: var(--title-primary);
  letter-spacing: 2px;
  color: var(--color-secundario);
  font-weight: bold;
}

.title {
  font-size: var(--subtitle);
  margin: 1rem 0;
  color: var(--color-secundario);
  font-weight: 500;
}

.flor-itinerary {
  position: absolute;
  filter: brightness(0) invert(1);
}

.flor-itinerary img{
  width: 150px;
}

.flor-itinerary-top {
  top: -2%;
  left: 1%;
  transform: rotate(268deg) scaleX(-1);
}

.flor-itinerary-down {
  bottom: -2%;
  right: 1%;
  transform: rotate(95deg) scaleX(-1);
}