@import url('./variables.css');

.container-one-places {
  background-color: var(--color-primario);
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  /* ⬅️ importante para posicionar .curve */
  overflow: hidden;
  /* previene scroll no deseado si se sobrepone */
  color: var(--color-secundario);
}

h2, h3, h4, h5{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--subtitle);
  padding: 4px;
}

.container-title {
  margin-bottom: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
}

.container-two-place {
  width: 100%;
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.subcontainer-two-place {
  margin: 10px;
  width: 100%;
}

.container-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

.container-img {
  width: 100px;
}

.container-date {
  width: 100%;
  /* margin: 0 0 1.8rem 1.8rem; */
  display: flex;
  justify-content: center;
}

.subcontainer-date {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcontainer-date h2 {
  font-size: 8rem;
  padding: 0 1rem;

}

.subcontainer-date h5 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.link-place {
  margin: .5rem;
}

.btn-a {
  background-color: var(--color-secundario);
  font-size: 1.8rem;
  color: #2f5026;
  padding: 0.5rem 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: inline-block;
  /* transition: background-color 0.3s ease, transform 0.2s; */
}

.btn-a:hover {
  background-color: #c1dbba;
  transform: scale(1.05);
}