@import url('./variables.css');

.conatiner-primary-places {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-decorartion-places {
  background-color: var(--color-primario);
  width: 80%;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  /* ⬅️ importante para posicionar .curve */
  overflow: hidden;
  /* previene scroll no deseado si se sobrepone */
  color: var(--color-secundario);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.aw-wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.aw-img {
  width: 100%;
  max-width: 200px;
  display: block;
}

.subcontainer-decoration {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-right: 31%;
}

/* .flor {
  width: 146px;
  position: absolute;
  top: 40%;
  left: -9%;
  transform: rotate(86deg) scaleX(-1);
  filter: brightness(0) invert(1);

} */

.flor {
  position: absolute;
  width: 146px;
  /* ajusta según necesidad */
  filter: brightness(0) invert(1);
}

.flor-top {
  top: 50%;
  left: -16%;
  /* ajusta según posición del "|" */
  transform: rotate(86deg) scaleX(-1);
}

/* .down-flor {
  width: 146px;
  position: absolute;
  top: 21%;
  left: 20%;
  transform: rotate(270deg) scaleX(-1);
  filter: brightness(0) invert(1);
} */

.flor-bottom {
  bottom: 55%;
  left: 31%;
  transform: rotate(270deg) scaleX(-1);
}

.subcontainer-places {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

.subcontainer-places h4 {
  padding: 5px;
  font-size: var(--subtitle);
}

.link-place {
  margin: .5rem;
  display: flex;
  align-items: center;
}

.btn-a {
  background-color: var(--color-secundario);
  font-size: 1.8rem;
  color: #2f5026;
  padding: 0.5rem 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: inline-block;
}

.icon-map {
  margin-right: 5px;
  font-size: 2.5rem;
}

.btn-a:hover {
  background-color: #c1dbba;
  transform: scale(1.05);
}