:root {
  --color-primario: #6b9757;
  --color-secundario: #ffff;
  --fuente-principal: "Kaisei Opti", serif;
  --fuente-secundaria: 'Times New Roman', Times, serif;
  --fuente-terciaria: 'Dosis', sans-serif;
}
