body {
  min-height: 100vh;
}

#root {
  font-family: 'Bitter', serif;
}

/* .container-principal {
  display: flex;
  justify-content: center;
  width: 100%;
} */

.container-primary {
  /* height: 100vh; */
  /* width: 75%; */
  /* font-size: 2rem; */
  /* flex-direction: column;
  align-items: center;
  justify-content: space-between; */
}